#MainSidebar {
  -fx-background-color : #2e2c3a;
  -fx-background-radius: 0 10 10 0;
  -fx-border-radius: 10 10 10 10;
}
.button
{
  -fx-background-color: transparent;
  -fx-text-fill: #ffffff;
}
.button:hover
{
  -fx-background-color: #ffffff;
  -fx-text-fill: #2e2c3a;
  -fx-background-radius: 40 0 0 40;
  -fx-border-radius: 30 30 30 30;
}
#hamburgerButton
{
  -fx-background-color : transparent;
  -fx-text-fill: black;
  -fx-border-radius: 30 30 30 30;
}
#NextSubmitBtn {
  -fx-background-radius: 10;
  -fx-border-radius: 30 30 30 30;
  -fx-background-color: #141619   ;
  -fx-text-fill: #fff;
}
#NextSubmitBtn {
  -fx-font-smoothing-type: gray;
}
#NextSubmitBtn .mfx-ripple-generator {
  -mfx-ripple-radius: 40;
  -mfx-auto-clip: true;
}